In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os

# Get the current directory
current_dir = os.getcwd()

# Get the parent directory
parent_dir = os.path.dirname(current_dir)

# Check if the current directory is already the parent directory
if current_dir != '/Users/macoftraopia/Documents/GitHub/RGCN-Explainer':
    # Set the parent directory as the current directory
    os.chdir(parent_dir)
!pwd

/Users/macoftraopia/Documents/GitHub/RGCN-Explainer

In [3]:
#functions
def keep_columns_with_non_zero_values(df):
    # Get the column names with non-zero values
    non_zero_columns = df.columns[df.astype(bool).any(axis=0)]

    # Create a new DataFrame with only the columns containing non-zero values
    modified_df = df[non_zero_columns]

    return modified_df

from matplotlib import table


def dataframe_to_overleaf_table(df):
    # Begin the table
    table_code = "\\begin{table}[ht]\n"
    table_code += "\\centering\n"
    table_code += "\\caption{Insert caption here}\n"
    table_code += "\\label{tab:my_label}\n"

    # Generate the table header
    table_code += "\\begin{tabular}{ |"

    # Generate the column alignment specification
    for _ in range(df.shape[1] + 1):
        table_code += "c |"

    table_code += "}\n"
    table_code += "\\hline\n"

    # Generate the column headers
    table_code += " & " + " & ".join(df.columns) + " \\\\\n \hline"
    table_code += "\\hline\n"

    # Generate the table rows
    for idx, row in df.iterrows():
        row_values = []
        for val in row:
            if val == 0:
                row_values.append("")
            else:
                row_values.append(str(np.round(val,3)))

        table_code += str(idx) + " & " + " & ".join(row_values) + " \\\\\n \hline"

    # End the table
    table_code += "\\hline\n"
    table_code += "\\end{tabular}\n"
    table_code += "\\end{table}"

    return table_code

In [56]:
name = 'aifb'

In [66]:
df_w = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_withheld.csv')
df_t = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_test.csv')
df = pd.concat([df_w,df_t])
df.set_index('node_idx', inplace=True)
if name == 'aifb':
    df.drop('type.1', axis=1, inplace=True)
    df.drop('type.2', axis=1, inplace=True)

df = df.fillna(0)
gb = df.groupby('label')   
a = gb.aggregate('mean') #a = gb.sum()
a['group size'] = gb.size()
a = a.fillna(0)
a = keep_columns_with_non_zero_values(a)
a_high = select_columns_with_values_above_threshold(a,0.4)
a_high

,fax,homepage,name,phone,photo,publication,type,worksAtProject,group size
label,,,,,,,,,
0,1.0,0.0,1.0,0.0,0.0,0.000000,0.678571,0.0,28
1,0.0,0.6,0.0,0.0,0.9,0.000000,0.000000,0.8,10
2,0.0,0.0,0.0,1.0,0.0,0.913043,0.000000,0.0,23
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.888889,0.0,9

In [67]:

print(dataframe_to_overleaf_table(a_high))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |c |c |c |c |c |}
\hline
 & fax & homepage & name & phone & photo & publication & type & worksAtProject & group size \\
 \hline\hline
0 & 1.0 &  & 1.0 &  &  &  & 0.679 &  & 28.0 \\
 \hline1 &  & 0.6 &  &  & 0.9 &  &  & 0.8 & 10.0 \\
 \hline2 &  &  &  & 1.0 &  & 0.913 &  &  & 23.0 \\
 \hline3 &  &  &  &  &  &  & 0.889 &  & 9.0 \\
 \hline\hline
\end{tabular}
\end{table}

wrong if

In [69]:
id = 'wrong_if'
df_w = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_withheld.csv')
df_t = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_test.csv')
df = pd.concat([df_w,df_t])
df.set_index('node_idx', inplace=True)
if name == 'aifb':
    df.drop('type.1', axis=1, inplace=True)
    df.drop('type.2', axis=1, inplace=True)

df = df.fillna(0)
gb = df.groupby('label')   
a = gb.aggregate('mean') #a = gb.sum()
a['group size'] = gb.size()
a = a.fillna(0)
a = keep_columns_with_non_zero_values(a)
a_high = select_columns_with_values_above_threshold(a,0.4)
a_high
print(dataframe_to_overleaf_table(a_high))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |}
\hline
 & name & publication & worksAtProject & group size \\
 \hline\hline
0 & 0.679 & 0.214 & 0.071 & 28.0 \\
 \hline1 &  & 0.1 & 0.3 & 10.0 \\
 \hline2 & 0.087 & 1.0 & 0.087 & 23.0 \\
 \hline3 & 0.222 & 0.222 & 0.444 & 9.0 \\
 \hline\hline
\end{tabular}
\end{table}

In [22]:
import pandas as pd

def select_columns_with_values_above_threshold(df, threshold):
    # Select columns where there is at least one entry higher than 1
    selected_columns = df.columns[(df > threshold).any()]

    # Create a new DataFrame with the selected columns
    modified_df = df[selected_columns]

    return modified_df


a_high = select_columns_with_values_above_threshold(a,0.4)
a_high

           name  publication  worksAtProject  group size
label
0      0.642857     0.071429        0.071429          14
1      0.000000     0.250000        0.500000           4
2      0.000000     1.000000        0.000000          11
3      0.166667     0.166667        0.333333           6

In [23]:
print(dataframe_to_overleaf_table(a_high))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |}
\hline
 & name & publication & worksAtProject & group size \\
 \hline\hline
0 & 0.643 & 0.071 & 0.071 & 14.0 \\
 \hline1 &  & 0.25 & 0.5 & 4.0 \\
 \hline2 &  & 1.0 &  & 11.0 \\
 \hline3 & 0.167 & 0.167 & 0.333 & 6.0 \\
 \hline\hline
\end{tabular}
\end{table}

test set backward

In [27]:
id = 'wrong_if'
id_test = 'test'
df = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_{id_test}.csv')
df.set_index('node_idx', inplace=True)
df = df.fillna(0)
gb = df.groupby('label')   
a = gb.aggregate('mean') 
#a = gb.sum()
a['group size'] = gb.size()
a = a.fillna(0)
a = keep_columns_with_non_zero_values(a)
a_high = select_columns_with_values_above_threshold(a,0.4)
print(dataframe_to_overleaf_table(a_high))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |}
\hline
 & name & publication & worksAtProject & group size \\
 \hline\hline
0 & 0.714 & 0.357 & 0.071 & 14.0 \\
 \hline1 &  &  & 0.167 & 6.0 \\
 \hline2 & 0.167 & 1.0 & 0.167 & 12.0 \\
 \hline3 & 0.333 & 0.333 & 0.667 & 3.0 \\
 \hline\hline
\end{tabular}
\end{table}

IMDb us dataset (extracted from Triply IMDb dataset selecting the subset of movies whose country is the US):

In [12]:
import torch
import pandas as pd
import numpy as np
name = 'IMDb_us'
data = torch.load(f'data/IMDB/finals/{name}.pt')
id = 'one_relation'
id_test = 'withheld'
df = pd.read_csv(f'chk/{name}_chk/Relation_Selection/Important_{id}_{name}_results_ones_{id_test}.csv')
df['label'] = [data.withheld[np.where(data.withheld[:, 0]== [i]),1][0][0] for i in df['node_idx']]

In [13]:

df.set_index('node_idx', inplace=True)
df = df.fillna(0)
gb = df.groupby('label')   
a = gb.aggregate('mean') #a = gb.sum()
a['group_size'] = gb.size()
a = a.fillna(0)
a = keep_columns_with_non_zero_values(a)
a

,hasPhotoCollection,date,title,type,SeeAlso,label.1,sameAs,subject,based_near,page,...,producer,producer_name,producer_producerid,rating,runtime,sequel,writer,writer_name,writer_writerid,group_size
label,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,0.866667,...,0.000000,0.0,0.0,0.000000,0.866667,0.000000,0.00000,0.0,0.0,30
1,0.015707,0.026178,0.026178,1.0,0.0,1.0,0.015707,0.026178,0.026178,0.026178,...,0.136126,0.0,0.0,0.005236,0.015707,0.041885,0.13089,0.0,0.0,191
2,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,7
3,0.000000,0.000000,0.000000,1.0,0.0,1.0,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,3
4,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,6
5,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.333333,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,9
6,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,1
7,0.616438,0.000000,0.000000,1.0,0.0,1.0,0.616438,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,73
8,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,1
9,0.228571,0.000000,0.000000,1.0,0.0,1.0,0.228571,0.000000,0.000000,0.985714,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,70
10,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,1.0,1.0,11
11,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,1.0,1.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,10
12,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,2
13,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,1
14,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,1

In [14]:
#realizing that actually some classes have only 1 or 2 elements

indices_to_delete = [a.index[i] for i,j in zip(range(len(a['group_size'])), a['group_size']) if j < 10]

df = a[~a.index.isin(indices_to_delete)]
df[df < 0.7] = 0
df = df.fillna(0)
df = keep_columns_with_non_zero_values(df)
df

/var/folders/ww/33zq_rh50tx94n81lb4thx0w0000gn/T/ipykernel_47635/3880766234.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df < 0.7] = 0
/var/folders/ww/33zq_rh50tx94n81lb4thx0w0000gn/T/ipykernel_47635/3880766234.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df < 0.7] = 0

,type,SeeAlso,label.1,page,actor_actorid,actor_name,country,film_cut_film_cutid,producer_name,producer_producerid,runtime,writer_name,writer_writerid,group_size
label,,,,,,,,,,,,,,
0,1.0,0.0,1.0,0.866667,0.0,0.0,0.000000,0.866667,0.0,0.0,0.866667,0.0,0.0,30
1,1.0,0.0,1.0,0.000000,0.0,0.0,0.780105,0.000000,0.0,0.0,0.000000,0.0,0.0,191
7,1.0,0.0,1.0,1.000000,1.0,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,73
9,1.0,0.0,1.0,0.985714,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,70
10,1.0,1.0,1.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,1.0,11
11,1.0,0.0,1.0,1.000000,0.0,0.0,0.000000,0.000000,1.0,1.0,0.000000,0.0,0.0,10

In [90]:
print(dataframe_to_overleaf_table(df))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |}
\hline
 & type & SeeAlso & label.1 & page & actor_actorid & actor_name & country & film_cut_film_cutid & producer_name & producer_producerid & runtime & writer_name & writer_writerid & group_size \\
 \hline\hline
0 & 1.0 &  & 1.0 & 0.867 &  &  &  & 0.867 &  &  & 0.867 &  &  & 30.0 \\
 \hline1 & 1.0 &  & 1.0 &  &  &  & 0.78 &  &  &  &  &  &  & 191.0 \\
 \hline7 & 1.0 &  & 1.0 & 1.0 & 1.0 & 1.0 &  &  &  &  &  &  &  & 73.0 \\
 \hline9 & 1.0 &  & 1.0 & 0.986 &  &  &  &  &  &  &  &  &  & 70.0 \\
 \hline10 & 1.0 & 1.0 & 1.0 & 1.0 &  &  &  &  &  &  &  & 1.0 & 1.0 & 11.0 \\
 \hline11 & 1.0 &  & 1.0 & 1.0 &  &  &  &  & 1.0 & 1.0 &  &  &  & 10.0 \\
 \hline\hline
\end{tabular}
\end{table}

In [86]:
from RGCN_stuff.src.rgcn_explainer_utils import get_relations


name = 'IMDb_us'
data = torch.load(f'data/IMDB/finals/{name}.pt')
#label is 5
for i in data.triples:
    if i[1] == 5:
        print(data.i2e[i[0]], data.i2rel[i[1]], data.i2e[i[2]])

In [102]:
id = 'wrong_if'
id_test = 'withheld'
name = 'IMDb_us'
df = pd.read_csv(f'chk/{name}_chk/Important_{id}_{name}_results_ones_{id_test}.csv')
df.set_index('node_idx', inplace=True)
df = df.fillna(0)
gb = df.groupby('label')   
#a = gb.aggregate('mean') 
a = gb.sum()
a['group size'] = gb.size()
#a = a.fillna(0)
a = keep_columns_with_non_zero_values(a)
a_high = select_columns_with_values_above_threshold(a,2)
a_high = keep_columns_with_non_zero_values(a_high)
a_high
print(dataframe_to_overleaf_table(a_high))

\begin{table}[ht]
\centering
\caption{Insert caption here}
\label{tab:my_label}
\begin{tabular}{ |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |c |}
\hline
 & hasPhotoCollection & date & title & type & SeeAlso & label.1 & subClassOf & sameAs & subject & based_near & page & actor & actor_actorid & actor_name & actor_netflix_id & actor_nytimes_id & cinematographer & cinematographer_cinematographerid & cinematographer_name & country & country_areaInSqKm & country_capital & country_continent & country_currency & country_fips_code & country_id & country_iso_alpha2 & country_iso_alpha3 & country_iso_numeric & country_languages & country_name & country_population & director & dubbing_performance & editor & editor_editorid & editor_name & executive_producer & featured_film_location & film_art_director & film_casting_director & film_character & film_collection & film_collection_film_collectionid & film_collection_name & film_cut & film_cut_film_cutid & film_format & film_location_film_locationid & film_location_name & film_production_designer & film_set_designer & film_story_contributor & film_subject & film_subject_film_subjectid & film_subject_name & filmid & initial_release_date & language & location & music_contributor & music_contributor_music_contributorid & music_contributor_name & performance & performance_actor & performance_character & performance_film & performance_name & performance_note & performance_part & performance_performanceid & performance_special_performance_type & prequel & producer & producer_name & producer_producerid & production_company & rating & runtime & sequel & story_contributor & writer & writer_name & writer_writerid & group size \\
 \hline\hline
0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 26.0 \\
 \hline1 & 152.0 & 152.0 & 152.0 & 158.0 & 152.0 & 349.0 & 152.0 & 152.0 & 152.0 & 152.0 & 158.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 152.0 & 349.0 \\
 \hline2 &  &  &  &  &  & 14.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 7.0 \\
 \hline3 &  &  &  &  &  & 9.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 3.0 \\
 \hline5 &  &  &  &  &  & 45.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 9.0 \\
 \hline6 &  &  &  &  &  & 6.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 1.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 1.0 \\
 \hline10 &  &  &  &  &  & 110.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 11.0 \\
 \hline11 &  &  &  &  &  & 110.0 &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  &  & 10.0 \\
 \hline\hline
\end{tabular}
\end{table}